# Converting the pdf files to csv

### Importing the necessary libraries

In [16]:
import fitz
import pandas as pd

### using fitz to open the two given pdfs

In [17]:
purchase_details_doc = fitz.open('EB_Purchase_Details.pdf')
redemption_details_doc = fitz.open('EB_Redemption_Details.pdf')

### creating an empty dataframe to store the data from the tables in the two pdfs

In [18]:
purchase_details_col = list(map(lambda s: " ".join(s.split("\n")), purchase_details_doc[0].find_tables()[0].extract()[0]))
purchase_details =  pd.DataFrame(columns=purchase_details_col)

redemption_details_col = list(map(lambda s: " ".join(s.split("\n")), redemption_details_doc[0].find_tables()[0].extract()[0]))
redemption_details = pd.DataFrame(columns=redemption_details_col)

### looping through each page in each doc, using `find_tables()` to get the tables and then concat each row in the table to the previously created dataframe via a for loop

In [19]:
for page in purchase_details_doc:
    tabs = page.find_tables()
    if tabs.tables:
        for row in tabs[0].extract()[1:]:
            temp = pd.DataFrame([row], columns=purchase_details_col)
            purchase_details=pd.concat([purchase_details, temp], ignore_index = True)

for page in redemption_details_doc:
    tabs = page.find_tables()
    if tabs.tables:
        for row in tabs[0].extract()[1:]:
            temp = pd.DataFrame([row], columns=redemption_details_col)
            redemption_details=pd.concat([redemption_details, temp], ignore_index = True)

### fixing the date formats

In [20]:
original_format = "%d/%b/%Y"
desired_format = "%d/%m/%Y"

In [21]:
purchase_details[["Journal Date", "Date of Purchase", "Date of Expiry"]]

      Journal Date Date of Purchase Date of Expiry
0      12/Apr/2019      12/Apr/2019    26/Apr/2019
1      12/Apr/2019      12/Apr/2019    26/Apr/2019
2      12/Apr/2019      12/Apr/2019    26/Apr/2019
3      12/Apr/2019      12/Apr/2019    26/Apr/2019
4      12/Apr/2019      12/Apr/2019    26/Apr/2019
...            ...              ...            ...
18866  11/Jan/2024      11/Jan/2024    25/Jan/2024
18867  11/Jan/2024      11/Jan/2024    25/Jan/2024
18868  11/Jan/2024      11/Jan/2024    25/Jan/2024
18869  11/Jan/2024      11/Jan/2024    25/Jan/2024
18870  11/Jan/2024      11/Jan/2024    25/Jan/2024

[18871 rows x 3 columns]

In [22]:
for col in ["Journal Date", "Date of Purchase", "Date of Expiry"]:
    purchase_details[col] = pd.to_datetime(purchase_details[col])
    purchase_details[col] = purchase_details[col].dt.strftime(desired_format)

In [23]:
purchase_details[["Journal Date", "Date of Purchase", "Date of Expiry"]]

      Journal Date Date of Purchase Date of Expiry
0       12/04/2019       12/04/2019     26/04/2019
1       12/04/2019       12/04/2019     26/04/2019
2       12/04/2019       12/04/2019     26/04/2019
3       12/04/2019       12/04/2019     26/04/2019
4       12/04/2019       12/04/2019     26/04/2019
...            ...              ...            ...
18866   11/01/2024       11/01/2024     25/01/2024
18867   11/01/2024       11/01/2024     25/01/2024
18868   11/01/2024       11/01/2024     25/01/2024
18869   11/01/2024       11/01/2024     25/01/2024
18870   11/01/2024       11/01/2024     25/01/2024

[18871 rows x 3 columns]

In [24]:
redemption_details[["Date of Encashment"]]

      Date of Encashment
0            12/Apr/2019
1            12/Apr/2019
2            12/Apr/2019
3            12/Apr/2019
4            12/Apr/2019
...                  ...
20416        24/Jan/2024
20417        24/Jan/2024
20418        24/Jan/2024
20419        24/Jan/2024
20420        24/Jan/2024

[20421 rows x 1 columns]

In [25]:
redemption_details["Date of Encashment"] = pd.to_datetime(redemption_details["Date of Encashment"])
redemption_details["Date of Encashment"] = redemption_details["Date of Encashment"].dt.strftime(desired_format)

In [26]:
redemption_details[["Date of Encashment"]]

      Date of Encashment
0             12/04/2019
1             12/04/2019
2             12/04/2019
3             12/04/2019
4             12/04/2019
...                  ...
20416         24/01/2024
20417         24/01/2024
20418         24/01/2024
20419         24/01/2024
20420         24/01/2024

[20421 rows x 1 columns]

### save the dataframes as csv files

In [27]:
purchase_details.to_csv('purchase_details.csv', header=True, index=False)
redemption_details.to_csv('redemption_details.csv', header=True, index=False)